@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;400;700&display=swap');

body {
    background-color: #CAEBF1;
    font-family: 'Roboto', sans-serif;
    color: #411507;
}

.desktop {
    display: none;
}

.mobile {
    padding-left: 35px;
    padding-right: 35px;
}

.yellow-background, .accordion-button {
    background-color: #F1B50C;
}

.image-container {
    position: relative;
}

.image-container .btn {
    position: absolute;
    top: 0;
    right: 0;
    color: #411507;
    stroke: white;
    stroke-width: 15px;
}

.btn-no-shadow:focus {
    box-shadow: none;
}

@media only screen and (min-width: 1200px) {
    .mobile {
        display: none;
    }

    .desktop {
        display: inline;
    }

    .card-container {
        margin-left: 2px;
        margin-right: 2px;
    }
}